<mat-toolbar class="header" color="primary">
  <span>
    <img src="assets/logo.png" alt="Logo" style="height: 40px" />
  </span>
  <span class="spacer"></span>
  <mat-form-field class="search-bar">
    <input class="header-search-bar" matInput placeholder="Search" />
  </mat-form-field>
  <span class="spacer"></span>
  <mat-icon aria-hidden="false" aria-label="Notification icon"
    >notifications</mat-icon
  >
  <mat-icon aria-hidden="false" aria-label="Account icon"
    >account_circle</mat-icon
  >
</mat-toolbar>
