.example-card {
  max-width: 400px;
  margin: 20px;
}

.example-header-image {
  background-image: url("https://images.blue-tomato.com/is/image/bluetomato/304151589_front.jpg-Qi4gJqFjMYyeFSVU5h48f0WDcKo/Burton+Classic+T+Shirt.jpg?$m2$");
  background-size: cover;
}
.home {
  display: flex;
  flex-wrap: wrap;
}
