<div class="home">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TShirt</mat-card-title>
      <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.blue-tomato.com/is/image/bluetomato/304151589_front.jpg-Qi4gJqFjMYyeFSVU5h48f0WDcKo/Burton+Classic+T+Shirt.jpg?$m2$"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>description</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TShirt</mat-card-title>
      <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.blue-tomato.com/is/image/bluetomato/304151589_front.jpg-Qi4gJqFjMYyeFSVU5h48f0WDcKo/Burton+Classic+T+Shirt.jpg?$m2$"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>description</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TShirt</mat-card-title>
      <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.blue-tomato.com/is/image/bluetomato/304151589_front.jpg-Qi4gJqFjMYyeFSVU5h48f0WDcKo/Burton+Classic+T+Shirt.jpg?$m2$"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>description</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TShirt</mat-card-title>
      <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.blue-tomato.com/is/image/bluetomato/304151589_front.jpg-Qi4gJqFjMYyeFSVU5h48f0WDcKo/Burton+Classic+T+Shirt.jpg?$m2$"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>description</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TShirt</mat-card-title>
      <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.blue-tomato.com/is/image/bluetomato/304151589_front.jpg-Qi4gJqFjMYyeFSVU5h48f0WDcKo/Burton+Classic+T+Shirt.jpg?$m2$"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>description</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TShirt</mat-card-title>
      <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.blue-tomato.com/is/image/bluetomato/304151589_front.jpg-Qi4gJqFjMYyeFSVU5h48f0WDcKo/Burton+Classic+T+Shirt.jpg?$m2$"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>description</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TShirt</mat-card-title>
      <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.blue-tomato.com/is/image/bluetomato/304151589_front.jpg-Qi4gJqFjMYyeFSVU5h48f0WDcKo/Burton+Classic+T+Shirt.jpg?$m2$"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>description</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TShirt</mat-card-title>
      <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.blue-tomato.com/is/image/bluetomato/304151589_front.jpg-Qi4gJqFjMYyeFSVU5h48f0WDcKo/Burton+Classic+T+Shirt.jpg?$m2$"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>description</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TShirt</mat-card-title>
      <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.blue-tomato.com/is/image/bluetomato/304151589_front.jpg-Qi4gJqFjMYyeFSVU5h48f0WDcKo/Burton+Classic+T+Shirt.jpg?$m2$"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>description</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TShirt</mat-card-title>
      <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.blue-tomato.com/is/image/bluetomato/304151589_front.jpg-Qi4gJqFjMYyeFSVU5h48f0WDcKo/Burton+Classic+T+Shirt.jpg?$m2$"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>description</p>
    </mat-card-content>
  </mat-card>
</div>
